#map-container {
  height: 70vh;
  z-index: 1;
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.severity-indicator {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 8px;
  display: inline-block;
}

:root {
  --color-critical-red: #D92D2D;
  --color-high-orange: #E0790B;
  --color-medium-yellow: #F7BE00;
  --color-low-cyan: #00A8A8;
}
