/* Submission Report Styles */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #f3f4f6; /* Light gray background */
}

/* Custom color approximating the header in the image */
.header-bg {
  background-color: #d9a779;
}
